@charset "UTF-8";
html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /*
    font-family: "Klee One", sans-serif;
    */
}

header h1 {
    color: #ffffff;
    background-color: #cc0000;
    margin: 0 auto 10px auto;
    padding: 10px;
    text-align: center;
}

#select_All {
    text-align: center;
    /*
    background-color: #f4eeee;
    */
    width: 600px;
    margin: auto;
    /*border: 1px solid #cc0000;*/
}

#select {
    margin-top: 30px;
}

#pref_sel {
    width: 500px;
    height: 20px;
    margin-bottom: 5px;
    margin-right: 10px;
    background-color: #ffffff;
}

.title {
    margin-bottom: 0;
    display: inline-block;
    /*
    padding: 5px 5px;
    background-color: #cc0000;
    color: #ffffff;
    border-radius: 5px;
    */
    font-size: large;
    color: #cc0000;
    background-color: #ffffff;
}

#kensaku {
    text-align: left;
    padding-left: 20px;
    margin-right: 0;
    border-bottom: 3px solid #cc0000;
    width: 800px;
}

#title_All {
    display: flex;
    align-items: center;
    height: 40px;
}

#pref_sel_All {
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

#pref_sel {
    justify-content: center;
    margin-bottom: 0;
    margin-right: 5px;
    height: 30px;
}
span {
    font-size: 12px;
    color: red;
}
#label_edit {
    text-align: left;
    font-size: 14px;
}

#pref_block {
    display: block;
}
#form_group {
    width: 500px;
    margin: 0 auto;
    font-size: 14px;
}

.form_item {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 10px;
}

.form_item label {
    text-align: left;
}

.form_item input {
    height: 30px;
}

/*ラジオボタンの装飾*/
#mode {
    margin-left: 45px;
    display: inline-flex;
    border: 2px solid #cc0000;
    border-radius: 6px;
    overflow: hidden;
    height: 30px;
}

#mode input[type="radio"] {
    display: none;
}

#mode label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    background: #dfdfdf;
    color: #cc0000;
    border-right: 1px solid #cc0000;
    transition: all 0.2s ease;
    line-height: 1;
}

#mode input[type="radio"]:checked+label {
    background: #cc0000;
    color: #fff;
}
/*ラジオボタンの装飾　END*/
#mode_block {
    display: flex;
    align-items: center;
    gap: 120px;
}

#btn_All {
    font-size: 15px;
    color: #ffffff;
    padding: 10px 60px;
    border: none;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    background: #cc0000;
    cursor: pointer;
}

#btn_All:hover {
    background: #960909;
}

#btn_clear {
    cursor: pointer;
    padding: 0 30px;
    height: 40px;
    font-size: 12px;
}

#btn_edit {
    display: flex;
    gap: 15px;

}

#map_area {
    width: 700px;
    height: 300px;
    margin: 20px auto 10px auto;
    display: none;
}

#map_iframe {
   width: 100%;
   height: 100%; 
}


table {
    display: none;
    border-collapse: collapse;
    /*二重線が消える*/
    margin: auto;
    background-color: #ffffff;
    margin-bottom: 50px;
    width: 700px;
}

caption {
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

th,
td {
    border: 1px solid #000000;
    padding: 2px 5px;
    font-size: 14px;
}

th {
    color: #ffffff;
}
.th_width {
    width: 90px;
}
.th_width2 {
    width: 110px;
}

thead {
    background-color: #cc0000;
}

table tbody tr:hover {
    background-color: rgb(255, 146, 146);
    text-decoration: underline #cc0000;
    cursor: pointer;
}

#furigana {
    font-size: 13px;
}

/*ページトップボタン　参考サイト：https://animate-club.com/button/page-top/*/
.container {
  padding: 50px 0;
}

p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

button {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 80px;
  right: 20px;
  bottom: -160px;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  border: 0;
  background: #fc9c9c;
  transition: .2s;
  letter-spacing: 3px;
  font-weight: bold;
  border-radius: 100px 100px 0 0;
}

button i{
  position: absolute;
  font-size: 15px;
  color: #FFF;
  top: 15px;
  font-weight: 300;
}

button p{
  margin: 0;
  font-size: 15px;
  bottom: 13px;
  position: absolute;
}

.is-active {
  opacity: 1;
  visibility: visible;
}

button.is-active {
  bottom: 0px;
}
/*ページトップボタンEND*/

#not_found {
    color: red;
    font-weight: bold;
    text-align: center;
}

#content {
    flex: 1;
}

#footer_area {
    background-color: #cc0000;
    width: 100%;
    text-align: center;
    height: 30px;
}